.box {
    background-color: #ffffff;
    width: 95%;
    border: 1.8px solid #d8d8d8;
    height: 10vh;
}

.box-2 {
    background-color: #ffffff;
    width: 95%;
    border: 1.8px solid #d8d8d8;
}

.jdl {
    font-weight: bold;
}

.nav {
    border: none !important;
}

.text-tab {
    color: #242424 !important;
    cursor: pointer;
    position: relative !important;
}

.text-tab:hover {
    color: #dbae39 !important;
}

.nav-link:hover::after,
.nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #dbae39;
    position: relative;
    top: 10px;
}

.text-tab.active {
    color: #dbae39 !important;
}

.inp-search {
    border-radius: 10px;
    width: 20rem;
    border: 1.8px solid #d8d8d8;
    padding-left: 35px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.inp-search::placeholder {
    color: black;
    opacity: 1;
    font-size: 14px;
}

.btn-1 {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    font-size: 14px !important;
}

.btn-filter {
    border: 1.8px solid #d8d8d8 !important;
    color: #242424 !important;
    padding-right: 40px !important;
}

.btn-filter:hover {
    background-color: #ededed !important;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 7.5px;
}

.filter-container {
    position: relative;
}

.filter-icon {
    position: absolute;
    margin-top: 10px;
    right: 15px;
    cursor: pointer;
}

.edit-container {
    position: relative;
}

.edit-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 9px;
    cursor: pointer;
}

.trash-icon {
    width: 15px;
    height: 15px;
    left: 5px;
    position: absolute;
    cursor: pointer;
}

.btn-edit {
    width: 90% !important;
    background-color: #a6b4ff !important;
    color: #060e7a !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.btn-delete {
    width: 95% !important;
    background-color: #f07b62 !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.count {
    border: 2.5px solid #233dff !important;
    color: #233dff !important;
    font-size: 14px !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

.font-small {
    font-size: 14px;
}

table {
    border-radius: 10px !important;
    overflow: hidden;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

table,
th,
td {
    border: 1.5px solid #7b7b7b !important;
}

table tr:nth-child(odd) {
    background-color: #d3daff;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.id {
    width: 70px;
}

.title {
    width: 200px;
}

.date {
    width: 120px;
}

.ts,
.category,
.part,
.status {
    width: 105px;
}

.action {
    width: 170px;
}

.detail {
    width: 40px;
}

.dataTab {
    color: #000000;
    height: 47px !important;
}

.status-event {
    cursor: text !important;
    border: none !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.form-action {
    margin-left: auto !important;
}

@media screen and (max-width: 900px) {
    .form-action {
        margin-left: 1em !important;
        padding-top: 0.1em !important;
        padding-bottom: 0.1em !important;
        margin-right: 0 !important;
    }

    #nav-campaign-tab,
    #nav-webinar-tab {
        font-size: 1rem !important;
    }

    .box-2,
    .box {
        width: 100% !important;
    }

    .inp-search {
        width: 20rem;
    }
}

@media screen and (max-width: 680px) {
    .font-small {
        font-size: 12px !important;
    }

    .inp-search::placeholder {
        color: black;
        opacity: 1;
        font-size: 12px;
    }

    .form-action {
        margin-left: 1em !important;
        margin-right: 0 !important;
    }

    .inp-search {
        width: 15rem;
    }

    .filter-icon {
        width: 15px !important;
        height: 15px !important;
    }
}

@media screen and (max-width: 560px) {
    .table-responsive {
        overflow-x: auto;
    }

    .inp-search {
        width: 10rem;
    }

    .btn-1 {
        font-size: 12px !important;
    }

    .filter-icon {
        width: 13px !important;
        height: 13px !important;
    }

    .edit-icon {
        width: 15px;
        height: 15px;
    }

    .trash-icon {
        width: 12px;
        height: 12px;
    }

    .btn-edit,
    .btn-delete {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 460px) {
    .btn-1 {
        font-size: 10px !important;
    }

    .search-icon {
        width: 15px !important;
        height: 15px !important;
    }
}

@media screen and (max-width: 433px) {
    .edit-icon {
        width: 10px;
        height: 10px;
    }

    .trash-icon {
        width: 8px;
        height: 8px;
    }

    .filter-icon {
        width: 10px !important;
        height: 10px !important;
    }

    .search-icon {
        width: 12px !important;
        height: 12px !important;
        margin-top: 8px;
    }

    .inp-search::placeholder {
        color: black;
        opacity: 1;
        font-size: 10px;
    }

    .inp-search {
        width: 8rem;
    }

    #nav-campaign-tab,
    #nav-webinar-tab {
        font-size: 0.8rem !important;
    }

    .btn-1 {
        padding: 5px !important;
    }

    .btn-filter {
        padding-right: 30px !important;
    }
}

@media screen and (max-width: 411px) {
    .filter-icon {
        width: 10px !important;
        height: 10px !important;
    }

    .btn-1 {
        padding: 3px !important;
        font-size: 9px !important;
    }

    .btn-filter {
        padding-right: 30px !important;
    }
}

@media screen and (max-width: 376px) {
    #nav-campaign-tab,
    #nav-webinar-tab {
        font-size: 0.7rem !important;
        margin-top: 0.1rem !important;
    }

    .box {
        height: 11vh;
    }
}
